<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{{ title }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{ style_css }}
</head>
<body>
    <div>
        <p>
            Olá.
            <br><br>
            Eu sou Fenyx Forte, Analista de Dados Jr.
            <br><br>
            Veja o meu portfólio <a href="{{ link }}" target="_blank" rel="noreferrer">aqui</a>.
            <br><br>
            Atenciosamente,
            <br/>
            Fenyx Forte.
        </p>
    </div>
</body>
</html>