<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" hs-webfonts="true" href="https://fonts.googleapis.com/css?family=Lato|Lato:i,b,bi">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{style}}
</head>
<body>
<div id="email">
    <table>
        <tr>
            <td>
                <h1> Olá, {{ name }}</h1>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <h2>Veja o meu portfólio</h2>
                <p>
                    Clique <a href="{{ link }}" target="_blank" rel="noreferrer">
                        aqui
                    </a> para acessar o meu portfólio.
                </p>
            </td>
        </tr>
    </table>
</div>
</body>
</html>